.container {
  position: absolute;
  top: 86px;
  width: 100%;
  z-index: 5000;
  background-color: rgb(31 31 31 / 0.8);
  padding: 0 40px 0 40px;
  border-radius: 0 0 40px 40px;
  color: var(--color-white);

  .title {
    padding-top: 15px;
    font-size: var(--fs-16-23);
  }
  .noResult {
    padding-block: 15px;
    font-size: var(--fs-14-18);
  }
}
.hidden {
  display: none;
}
