.errorContainer {
  width: 100%;
  height: 100%;
  padding-block: clamp(1.25rem, 0.3074rem + 2.7076vw, 3.125rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .errorTitle {
    font-size: var(--fs-30-45);
    padding-bottom: 15px;
    color: var(--color-gray-text);
  }
  .errorDescription {
    text-align: center;
    font-size: var(--fs-16-23);
    color: var(--color-gray-text);
  }
}
