.sectionCard {
  padding-bottom: clamp(0.625rem, -0.3176rem + 2.7076vw, 2.5rem);

  .wrapper {
    padding-right: clamp(0.625rem, 0.3108rem + 0.9025vw, 1.25rem);
    text-align: end;
  }
  .movieContainer {
    padding-top: 15px;
    padding-bottom: clamp(0.625rem, -0.3176rem + 2.7076vw, 2.5rem);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    overflow: hidden;
  }

  .rows_1 {
    max-height: calc(clamp(21.875rem, 18.1047rem + 10.8303vw, 29.375rem) + 25px);
  }

  .rows_2 {
    max-height: calc(clamp(21.875rem, 18.1047rem + 10.8303vw, 29.375rem) * 2 + 25px);
  }

  @media (max-width: 1455px) {
    .movieContainer {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1100px) {
    .movieContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 730px) {
    .movieContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
