.movieSubContainer {
  min-height: calc(
    100vh -
      (
        clamp(2.625rem, 1.2426rem + 3.9711vw, 5.375rem) +
          clamp(2.5625rem, 1.4942rem + 3.0686vw, 4.6875rem)
      ) - clamp(2.5rem, -0.0135rem + 7.2202vw, 7.5rem)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .movieSubTitle {
    font-size: var(--fs-30-45);
    padding-bottom: 15px;
    color: var(--color-gray-text);
  }
  .movieSubDescription {
    text-align: center;
    font-size: var(--fs-16-23);
    color: var(--color-gray-text);
  }
}
