.button {
  height: 39px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  font-size: 16px;
  color: var(--color-white);

  text-align: left;

  border-color: rgba(21, 21, 21, 0.28);
  border-radius: var(--border-radius-xl);

  padding-inline: clamp(0.625rem, 0.4679rem + 0.4513vw, 0.9375rem);
  font-size: var(--fs-14-18);

  background-color: transparent;

  svg {
    height: 22px;
    width: 25px;
    transform: rotate(90deg);

    fill: var(--color-white);
  }
  &:hover {
    color: var(--color-accent);
    svg {
      fill: var(--color-accent);
    }
    .buttonSortImg {
      fill: var(--color-accent);
    }
  }
  @media (max-width: 1000px) {
    .buttonImg {
      display: none;
    }
  }
}

.active {
  border-color: var(--color-white);
  color: var(--color-white);

  .buttonImg {
    fill: var(--color-white);
  }
}

.sortButton {
  position: relative;
  margin-right: 10px;

  .buttonSortImg {
    height: 22px;
    width: 25px;
    transform: rotate(90deg);
    fill: var(--color-white);
    transform: rotate(180deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 14px;
    right: -20px;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-white);
  }

  @media (max-width: 1290px) {
    &::after {
      display: none;
    }
  }

  @media (max-width: 750px) {
    .value {
      display: none;
    }
  }
}
