.card {
  margin: auto;
  padding-bottom: 12px;
  width: clamp(12.5rem, 10.3007rem + 6.3177vw, 16.875rem); //200 270
  height: clamp(21.875rem, 18.1047rem + 10.8303vw, 29.375rem); // 350 470
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.3s ease;
  cursor: pointer;

  .poster {
    width: 100%;
    height: 80%;

    border-radius: 10px;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .loaded {
    opacity: 0;
  }

  .title {
    padding-top: 10px;
    font-size: clamp(0.875rem, 0.7741rem + 0.3899vw, 1.125rem);
    color: #ffffff;
    font-weight: 500;
  }

  .footerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;

    .year {
      font-size: clamp(0.75rem, 0.6491rem + 0.3899vw, 1rem);
      color: #6a6868;
    }
    .rating {
      font-size: clamp(1rem, 0.8991rem + 0.3899vw, 1.25rem);
      color: #ffd233;
      font-weight: 500;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
