.card {
  margin: auto;
  padding-bottom: 12px;
  width: clamp(12.5rem, 10.3007rem + 6.3177vw, 16.875rem); //200 270
  height: clamp(21.875rem, 18.1047rem + 10.8303vw, 29.375rem); // 350 470
  position: relative;
  z-index: 1;
  transform: scale(1);
  transition: transform 0.3s ease;
  cursor: pointer;

  .poster {
    width: 100%;
    height: 80%;

    border-radius: var(--border-radius-m);

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .loaded {
    opacity: 0;
  }

  .title {
    padding-top: 10px;
    font-size: var(--fs-14-18);
    color: var(--color-white);
    font-weight: 500;
  }

  .footerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;

    .year {
      font-size: var(--fs-12-16);
      color: var(--color-gray-skeleton);
    }
    .rating {
      font-size: var(--fs-16-23);
      color: var(--color-rating);
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
