.typeCollection {
  padding: 10px 20px;
  font-size: clamp(0.75rem, 0.5987rem + 0.5848vw, 1.125rem);
  border: 1px solid transparent;
  border-radius: 60px;
  background-color: transparent;
  color: #ffffff;

  &:hover {
    border: 1px solid #ffffff;
  }
}
.active {
  color: #ffffff;
  border: 1px solid #ffffff;
}
