.typeCollection {
  padding: 10px 20px;
  font-size: var(--fs-14-18);
  border-radius: var(--border-radius-xl);
  background-color: transparent;

  &:hover {
    border-color: var(--color-white);
  }
}
.active {
  border-color: var(--color-white);
}
