.dropDown {
  position: absolute;
  top: 50px;
  left: 10px;

  padding: 5px;

  max-height: 350px;
  overflow-y: auto;

  z-index: 1000;

  background-color: rgba($color: #424242, $alpha: 0.5);
  border-color: var(--color-background);
  border-radius: var(--border-radius-m);

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-s);
  }

  .dropDownList {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 8px;

    .dropDownItem {
      border-radius: var(--border-radius-m);
      padding: 5px 7px;
      white-space: nowrap;
      &:hover {
        color: var(--color-white);
        background-color: var(--color-background);
      }
    }
  }
}
