.wrapper {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  flex-shrink: 0;

  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  transform: scale(1);
  transition: transform 0.5s ease;

  .hiddenImg {
    display: none;
  }

  .link {
    z-index: 100;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: end;

    .textContainer {
      width: 100%;
      padding: 20px;

      .title {
        text-align: center;
        margin-bottom: 15px;
      }

      .description {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 15px;
      }

      .info {
        margin-bottom: 12px;
        font-size: 14px;
        span {
          padding-right: 8px;
          color: #b1b0b0;
        }
      }
    }
  }
  &:hover {
    transform: scale(1.05);

    &::before {
      width: var(--card-width);
      height: var(--card-height);

      content: '';
      position: absolute;
      inset: 0;
      border-radius: 15px;
      background-color: #2c2b2b;
      opacity: 0.5;
      z-index: 50;
    }
  }
}
