.link {
  position: relative;
  color: var(--color-white);
  font-size: var(--fs-14-18);
  .button {
    position: absolute;
    top: -1px;
    right: -17px;
    fill: var(--color-white);
    svg {
      width: 15px;
      height: 25px;
    }
  }

  &:hover {
    color: var(--color-accent);
    .button {
      fill: var(--color-accent);
    }
  }
}
