.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  padding-block: clamp(0.625rem, 0.3108rem + 0.9025vw, 1.25rem);
  padding-inline: clamp(1.25rem, -0.9493rem + 6.3177vw, 5.625rem);
  background-color: var(--color-background);

  .title {
    font-size: clamp(1rem, 0.3947rem + 2.3392vw, 2.5rem);
    color: var(--color-accent);
  }

  .wrapperSearch {
    display: flex;
    align-items: center;
    gap: 15px;

    .input {
      width: clamp(12.5rem, 6.2162rem + 18.0505vw, 25rem);
      height: clamp(1.25rem, 0.6216rem + 1.8051vw, 2.5rem);
      border-radius: var(--border-radius-xl);

      border: none;
      padding-inline: clamp(0.625rem, 0.3108rem + 0.9025vw, 1.25rem);
      background-color: var(--color-input);
      color: var(--color-white);

      &::placeholder {
        font-size: var(--fs-14-18);
        color: var(--color-gray-text);
        opacity: 0.6;
      }
    }
    .favoritesButton {
      font-size: var(--fs-14-18);
      color: var(--color-gray-text);
      translate: scale(1);
      translate: transform(0.3s ease);

      &:hover {
        color: var(--color-white);
        transform: scale(1.1);
      }
    }
  }
}
