.wrapper {
  display: flex;
  gap: clamp(1.375rem, 0.9666rem + 1.1733vw, 2.1875rem);
  padding-bottom: clamp(1.875rem, 0.9324rem + 2.7076vw, 3.75rem);

  .wrapperPoster {
    .poster {
      width: clamp(13.875rem, 6.3972rem + 21.4801vw, 28.75rem);
      height: clamp(20.8125rem, 10.8526rem + 28.6101vw, 40.625rem);
      border-radius: var(--border-radius-m);
    }
  }

  @media (max-width: 730px) {
    display: block;

    .wrapperPoster {
      text-align: center;
    }
  }
}

.favoriteWrapper {
  display: flex;
  gap: clamp(0.625rem, 0.3108rem + 0.9025vw, 1.25rem);

  .favoritePoster {
    width: clamp(9.375rem, 6.2331rem + 9.0253vw, 15.625rem);
    height: clamp(12.5rem, 7.7871rem + 13.5379vw, 21.875rem);
    border-radius: var(--border-radius-m);
  }
}

.wrapperContent {
  .wrapperTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentTitle {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: clamp(0.9375rem, 0.4662rem + 1.3538vw, 1.875rem);
      gap: clamp(0.625rem, 0.3108rem + 0.9025vw, 1.25rem);

      .title {
        font-size: clamp(1.625rem, 0.4311rem + 3.4296vw, 4rem);
        font-weight: 700;
        padding-right: 10px;
      }
      .faworiteTitle {
        font-size: clamp(1.125rem, 0.3081rem + 2.3466vw, 2.75rem);
      }
    }
  }

  .contentDescription {
    font-size: var(--fs-14-18);
    padding-bottom: clamp(1.875rem, 1.2466rem + 1.8051vw, 3.125rem);
  }

  .favoriteDescription {
    font-size: clamp(0.625rem, 0.3736rem + 0.722vw, 1.125rem);
  }
}
