.wrapperViewing {
  position: fixed;
  inset: 0;
  background-color: rgba($color: #181818, $alpha: 0.5);
  z-index: 1000;

  .viewing {
    width: 80vw;
    height: 90vh;
    overflow: hidden;

    position: fixed;
    left: 10vw;
    top: 5vh;
    background-color: var(--color-background);
    border-radius: var(--border-radius-m);

    .closeButton {
      position: absolute;
      top: 7px;
      right: 10px;
      transform: scale(1);
      transition: transform 0.3s;
      z-index: 1000;

      &:hover {
        transform: scale(1.23);

        svg {
          path {
            stroke: #f9f8f8;
          }
        }
      }
    }

    .container {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .imgWrapper {
        position: absolute;
        inset: 5% 5% 32% 5%;

        .button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1000;

          svg {
            width: 24px;
            aspect-ratio: 1;
            fill: #b7b4b4;
          }

          &:hover {
            border-radius: var(--border-radius-m);
            svg {
              fill: #f9f8f8;
            }
          }
        }

        .buttonPrev {
          left: -40px;
          transform: rotate(180deg);
        }

        .buttonNext {
          right: -40px;
        }

        .wrapperSliderBig {
          overflow: hidden;
          width: 100%;
          height: 100%;

          .sliderBig {
            --card-width-Img-big: 1250px;
            --gap-Img-big: 10px;
            height: 100%;

            display: flex;
            gap: var(--gap-Img-big);
            transition: transform 0.3s ease;

            .imgSliderBig {
              flex: 0 0 var(--card-width-Img-big);
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      .wrapperSlider {
        position: absolute;
        bottom: 10px;
        padding: 15px 0 15px 50px;
        overflow: hidden;

        .slider {
          --card-width-Img: 230px;
          --gap-Img: 15px;

          display: flex;
          gap: var(--gap-Img);

          .imgSlider {
            width: var(--card-width-Img);
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: var(--border-radius-s);

            transform: scale(1);
            transition: transform 0.3s ease;
          }

          .activeImgSlider {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
