.category {
  position: relative;

  .wrapperTitle {
    margin-bottom: 20px;
    .titleCategory {
      padding: 10px 20px;
      font-size: var(--fs-14-18);
      border-color: var(--color-white);
      border-radius: var(--border-radius-xl);

      color: var(--color-white);
    }
  }
}
