.stillsContainer {
  position: relative;
  padding-bottom: clamp(1.875rem, 0.9324rem + 2.7076vw, 3.75rem);

  .titleStills {
    position: absolute;
    top: clamp(-0.875rem, -1.9433rem + 3.0686vw, 1.25rem);
    left: 0px;
    padding: 10px 20px;
    font-family: Arial;
    font-size: var(--fs-14-18);
    border-color: var(--color-white);
    border-radius: var(--border-radius-xl);
    color: var(--color-white);
  }
  .wrapperStills {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: clamp(1.875rem, -0.3243rem + 6.3177vw, 6.25rem);

    .stills {
      cursor: pointer;
      object-fit: cover;
      border-radius: var(--border-radius-m);
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}
